@using Rep.Traserep.Presentation.Web.Strings;
@model Rep.Traserep.Presentation.Web.Models.ModelModalEliminar

@{
    ViewBag.ModalId = Model.IdModal;
    ViewBag.ModalTitle = Model.TituloModal;
    ViewBag.ModalSize = "";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <label>@Model.MensajeCabecera</label>
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        <label id="@(string.Concat(Model.IdModal, "_singular"))">@(string.Concat(Model.UnidadSingular, ":"))</label>
        <label id="@(string.Concat(Model.IdModal, "_plural"))">@(string.Concat(Model.UnidadPlural, ":"))</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul id="@(string.Concat(Model.IdModal, "_elementos"))"></ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <b>@ResMessages.PartialEliminarMensajeIrreversible</b>
    </div>
</div>

@section modalFooter
{
    <button class="btn bg-primary pull-right" id="@(string.Concat(Model.IdModal, "_btnAceptar"))">@ResButtons.Aceptar</button>
    <button class="btn bg-primary pull-right" data-dismiss="modal">@ResButtons.Cancelar</button>
}